---
layout: null
---

<!doctype html>
<html lang="pt-BR">
<head>
{% include index/head.html %}
</head>
<body class="bg-slate-900 text-white font-[Inter]">
{% include index/nav.html %}
{% include index/hero.html %}
{% include index/contexto.html %}
{% include index/proposta.html %}
{% include index/pitch.html %}
{% include index/resultados.html %}
{% include index/parceria.html %}
{% include index/apoio.html %}
{% include index/equipe.html %}
{% include index/footer.html %}
{% include index/scripts.html %}
</body>
</html>
